*.obj
*.ipch
DirectX_SR/.vs/DirectX_SR/v16/Browse.VC.db
DirectX_SR/.vs/DirectX_SR/v16/Solution.VC.db
DirectX_SR/.vs/DirectX_SR/v16/.suo
DirectX_SR/x64/Release/ParticleTool.exe
*.log
*.tlog
*.iobj
*.recipe
*.pdb
DirectX_SR/Project1/x64/Debug/Project1.ilk
DirectX_SR/Project1/x64/Debug/Project1.pch
DirectX_SR/Project1/x64/Debug/Project1.res
DirectX_SR/Project1/x64/Debug/
DirectX_SR/Project1/x64/Release/
DirectX_SR/.vs/DirectX_SR/v16/
DirectX_SR/x64/
DirectX_SR/x64/Debug/Project1.exe
DirectX_SR/ParticleEditor/x64/Debug/vc142.idb
DirectX_SR/MapTool/x64/Debug/MapTool.pch
DirectX_SR/MapTool/x64/Debug/vc142.idb
DirectX_SR/MapTool/x64/
DirectX_SR/ParticleEditor/x64/
**/x64/
DirectX_SR/Project1/x64/Debug
DirectX_SR/Project1/x64/Release
**/v16/
**/x64/
*.exe
*.exe
DirectX_SR/MapTool/x64/Debug/vc142.idb
*.exe
